---
layout: frontpage_en
header_image_path: /assets/images/business-2.jpg
---

<div id="services" class="container">
  <div class="row">
    <div class="col-xs-12 visible-sm visible-xs">
      <section class="angebot">
        <div class="content">
          <h1 class="editable">Services</h1>
        </div>
      </section><!-- / angebot -->
    </div><!-- / col -->
    <div class="col-xs-12 col-md-4">
      <section class="angebot">
        <a href="{{ "/en/consulting-and-coaching" | prepend: site.baseurl }}">
          <header class="content">
            <h2 class="editable">Consulting and Coaching</h2>
          </header>
        </a>
        <div class="content">
          <p class="editable">You need consultancy for founding a business start-up or an association?<br />You need consultancy for your already existing company?<br />You need an external project manager?<br />You need support in sales management?<br />We are a modern, owner-managed consulting for start-ups and pre-existing companies with many years of professional experience.</p>
          <a href="{{ "/en/consulting-and-coaching" | prepend: site.baseurl }}" class="editable">Read more...</a>
        </div><!-- / content -->
      </section><!-- / angebot -->
    </div><!-- / col -->
    <div class="col-xs-12 col-md-4">
      <section class="angebot">
        <a href="{{ "/en/human-resources" | prepend: site.baseurl }}">
          <header class="content">
            <h2 class="editable">Human Resources</h2>
          </header>
        </a>
        <div class="content">
          <p class="editable">You need help during a company construction finding the right employees for your business? &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Out of a prospect pool or with the help of &nbsp;job advertisements, we will find the matching employees for your company.<br />You need support by building a personnel bookkeeping with contract values and reports or somebody, who can take over this job as an extern? We will give you appropriate forms at hand, train your staff or we will work out these tasks external for you.</p>
          <a href="{{ "/en/human-resources" | prepend: site.baseurl }}" class="editable">Read more...</a>
        </div><!-- / content -->
      </section><!-- / angebot -->
    </div><!-- / col -->
    <div class="col-xs-12 col-md-4">
      <section class="angebot">
        <a href="{{ "/en/accounting" | prepend: site.baseurl }}">
          <header class="content">
            <h2 class="editable">Accounting</h2>
          </header>
        </a>
        <div class="content">
          <p class="editable">Sie ben&ouml;tigen Hilfe beim Aufbau der Finanzabteilung vom Rechnungseingang &uuml;ber Rechnungserstellung bis hin zur Mahnung und vorbereitenden Buchf&uuml;hrung?<br />Gemeinsam mit unserem Netzwerk &uuml;bernehmen wir dies f&uuml;r Sie bis hin zur Bilanz und s&auml;mtlichen vom Finanzamt geforderten Berichten und Abschl&uuml;ssen.</p>
          <a href="{{ "/en/accounting" | prepend: site.baseurl }}" class="editable">Read more...</a>
        </div><!-- / content -->
      </section><!-- / angebot -->
    </div><!-- / col -->
  </div><!-- / row -->
</div><!-- / container -->

<div id="about" class="container">
  <div class="lead space-before space-after editable"><p>Je nach Beratungsaufgabe arbeiten wir f&uuml;r Ihr Unternehmen Hand in Hand mit Steuer- und Marketingexperten, Rechtsanw&auml;lten sowie einem Versicherungsmakler.</p></div>

  <div class="row">
    <div class="col-xs-12 col-md-6 space-after">
      <img class="img-responsive margin-center portrait editable" id="cms-identifiable-613" data-cms-cid="613" src="/uploads/versions/portrait-min---x0-0-1110-1110-500-500x---.png" width="500" height="500" />
    </div><!-- / col -->
    <div class="col-xs-12 col-md-6 col-lg-5 space-after editable"><p>Die Gr&uuml;nderin des Unternehmens, Cornelia Toussaint, verf&uuml;gt &uuml;ber mehr als drei&szlig;ig Jahre Berufserfahrung im Bereich Finanzen/Rechnungswesen, &uuml;ber mehr als zwanzig Jahre im Bereich Personal und zw&ouml;lf Jahre im Vertrieb. Sie ist Betriebswirtin und konnte bereits erfolgreich Unternehmen sowie Vereine gr&uuml;nden, begleiten und beraten. Das daraus entstandene Netzwerk erm&ouml;glicht eine komplexe und stabile Beratung.</p></div><!-- / col -->
  </div><!-- row -->
</div><!-- / container -->

<div id="partners">
  <div class="container">
    <h1 class="editable">Partners</h1>
    <div class="netzwerk-wrapper">
      {% for firma in site.data.netzwerk %}
        {% if firma.link == "" %}
          <section class="netzwerk text-center">
            <img src="{{firma.logo_path}}" />
            <span>{{firma.name}}</span>
          </section><!-- / netzwerk -->
        {% else %}
          <a href="{{firma.link}}" target="_blank" class="netzwerk text-center">
            <img src="{{firma.logo_path}}" />
            <span>{{firma.name}}</span>
          </a><!-- / netzwerk -->
        {% endif %}
      {% endfor %}
    </div><!-- / row -->
  </div><!-- / container -->
</div><!-- / netzwerk -->
