---
layout: frontpage_en
header_image_path: /assets/images/business-2.jpg
sp_logo_path: /uploads/sp-pharmaservices-logo-fin1.png
---
<div id="services" class="container">
  <div class="row">
    <div class="col-xs-12 visible-sm visible-xs">
      <section class="angebot">
        <div class="content">
          <h2 class="editable">
            Services
          </h2>
        </div>
      </section><!-- / angebot -->
    </div><!-- / col -->
    <div class="col-xs-12 col-md-4">
      <section class="angebot">
        <a href="{{ "/en/consulting-and-coaching" | prepend: site.baseurl }}">
          <header class="content">
            <h3 class="editable">
              Consulting and Coaching
            </h3>
          </header>
        </a>
        <div class="content">
          <p class="editable">
            You need consultancy for founding a business start-up or an association?<br />You need consultancy for your already existing company?<br />You need an external project manager?<br /><br />We are a modern, owner-managed consulting for start-ups and pre-existing companies with many years of professional experience.
          </p>
          <a href="/en/consulting-and-coaching" class="editable">Read more...</a>
        </div><!-- / content -->
      </section><!-- / angebot -->
    </div><!-- / col -->
    <div class="col-xs-12 col-md-4">
      <section class="angebot">
        <a href="{{ "/en/human-resources" | prepend: site.baseurl }}">
          <header class="content">
            <h3 class="editable">
              Human Resources
            </h3>
          </header>
        </a>
        <div class="content">
          <p class="editable">
            You need help during a company construction finding the right employees for your business? Out of a prospect pool or with the help of &nbsp;job advertisements, we will find the matching employees for your company.<br />You need support by building a personnel bookkeeping with contract values and reports or somebody, who can take over this job as an extern? We will give you appropriate forms at hand, train your staff or we will work out these tasks external for you.
          </p>
          <a href="/en/human-resources" class="editable">Read more...</a>
        </div><!-- / content -->
      </section><!-- / angebot -->
    </div><!-- / col -->
    <div class="col-xs-12 col-md-4">
      <section class="angebot">
        <a href="{{ "/en/accounting" | prepend: site.baseurl }}">
          <header class="content">
            <h3 class="editable">
              Accounting
            </h3>
          </header>
        </a>
        <div class="content">
          <p class="editable">
            You need help by building the finance department and fulfilling permanent activities (invoice receipt, invoicing, reminder and preliminary accounting, balance, reports and financial statements required by the tax office)?<br /><br />Together with our network, we will take over these tasks for you.
          </p>
          <a href="/en/accounting" class="editable">Read more...</a>
        </div><!-- / content -->
      </section><!-- / angebot -->
    </div><!-- / col -->
    <div class="col-xs-12">
      <section class="angebot">
        <a href="{{ "/en/sales-promotion-healthcare-services" | prepend: site.baseurl }}">
          <header class="content">
            <h3 class="editable">
              Sales Report
            </h3>
          </header>
        </a>
        <div class="content">
          <img src="{{ page.sp_logo_path}}" class="pull-left" height="100" />
          <p class="editable">
            You are facing challenges in the distribution of drugs or medical products?<br />We offer the support you need by approximately 100 self-employed PTA&rsquo;s/pharmaceutical representatives/scientists (&sect;75 AMG) throughout Germany.<br />You give us your preferred selection and pay only per call for our services, without staff responsibilities or car supply.<br /><br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; More info: <a href="https://sp-healthcare.de/" target="_blank" rel="noopener">https://sp-healthcare.de/</a>
          </p>
          <a href="/en/sales-promotion-healthcare-services" class="editable">More info...</a>
        </div><!-- / content -->
      </section><!-- / angebot -->
    </div><!-- / col -->
  </div><!-- / row -->
</div><!-- / container -->

<div id="about" class="container">
  <div class="lead space-before space-after editable">
    <p>Depending on the consultancy mandate for your company, we will work together with tax and marketing experts, lawyers and an insurance agent.</p>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 space-after">
      <img class="img-responsive margin-center portrait editable" src="/uploads/versions/portrait-min---x0-0-1110-1110-500-500x---.png" width="500" height="500" />
    </div><!-- / col -->
    <div class="col-xs-12 col-md-6 col-lg-5 space-after">
        <h1 class="editable">
          Cornelia Toussaint
        </h1>
        <div class="editable">
          <p>The founder of FiRe-Service &amp; Consulting, Cornelia Toussaint, has professional work experience in the field of financing and accounting for more than thirty years &nbsp;in the field of human resources for more than twenty years and on the market for twelve years. She is a business economist and already successfully founded, accompanied and advised companies and associations.</p>
          <p>The network that has been built up throughout former jobs enables a complex and stable consultancy.</p>
        </div>    
    </div><!-- / col -->
  </div><!-- row -->
</div><!-- / container -->

<div id="partners">
  <div class="container">
    <h2 class="editable">
      Partners
    </h2>
    <div class="netzwerk-wrapper">
      {% for firma in site.data.netzwerk %}
        {% if firma.link == "" %}
          <section class="netzwerk text-center">
            <img src="{{firma.logo_path}}" />
            <span>{{firma.name}}</span>
          </section><!-- / netzwerk -->
        {% else %}
          <a href="{{firma.link}}" target="_blank" class="netzwerk text-center">
            <img src="{{firma.logo_path}}" />
            <span>{{firma.name}}</span>
          </a><!-- / netzwerk -->
        {% endif %}
      {% endfor %}
    </div><!-- / row -->
  </div><!-- / container -->
</div><!-- / netzwerk -->
