---
layout: frontpage
header_image_path: /assets/images/business-2.jpg
---

<div id="angebote" class="container">
  <div class="row">
    <div class="col-xs-12 visible-sm visible-xs">
      <section class="angebot">
        <div class="content">
          <h2 class="editable">Angebote</h2>
        </div>
      </section><!-- / angebot -->
    </div><!-- / col -->
    <div class="col-xs-12 col-md-4">
      <section class="angebot">
        <a href="{{ "/beratung-und-coaching" | prepend: site.baseurl }}">
          <header class="content">
            <h3 class="editable">Beratung und Coaching</h3>
          </header>
        </a>
        <div class="content">
          <p class="editable">Sie suchen eine Beratung bei der Existenz- oder Vereinsgr&uuml;ndung?<br />Sie suchen Beratung f&uuml;r Ihr bereits bestehendes Unternehmen?<br />Sie ben&ouml;tigen einen externen Projektmanager?<br />Sie ben&ouml;tigen Unterst&uuml;tzung im Vertriebsmanagement?<br />Wir sind eine moderne, inhabergef&uuml;hrte Unternehmensberatung f&uuml;r Existenzgr&uuml;nder und bestehende Unternehmen mit langj&auml;hriger Berufserfahrung.</p>
          <a href="{{ "/beratung-und-coaching" | prepend: site.baseurl }}" class="editable">Mehr erfahren...</a>
        </div><!-- / content -->
      </section><!-- / angebot -->
    </div><!-- / col -->
    <div class="col-xs-12 col-md-4">
      <section class="angebot">
        <a href="{{ "/personalservice" | prepend: site.baseurl }}">
          <header class="content">
            <h3 class="editable">Personalservice</h3>
          </header>
        </a>
        <div class="content">
          <p class="editable">Sie ben&ouml;tigen Hilfe, im Zuge des Firmenaufbaus die richtigen Mitarbeiter f&uuml;r Ihr Unternehmen zu finden? Aus einem Interessentenpool oder durch Stellenanzeigen finden wir die passenden Mitarbeiter f&uuml;r Sie.<br />Sie ben&ouml;tigen Unterst&uuml;tzung beim Aufbau der Personalbuchhaltung mit s&auml;mtlichen Vertragswerken und Meldungen oder jemanden, der dies extern f&uuml;r Ihre Firma &uuml;bernimmt? Wir stellen Ihnen entsprechende Formulare zur Verf&uuml;gung, weisen Ihr Personal ein oder erledigen diese Aufgaben extern f&uuml;r Sie.</p>
          <a href="{{ "/personalservice" | prepend: site.baseurl }}" class="editable">Mehr erfahren...</a>
        </div><!-- / content -->
      </section><!-- / angebot -->
    </div><!-- / col -->
    <div class="col-xs-12 col-md-4">
      <section class="angebot">
        <a href="{{ "/rechnungswesen-und-buchhaltung" | prepend: site.baseurl }}">
          <header class="content">
            <h3 class="editable">Rechnungswesen und Buchhaltung</h3>
          </header>
        </a>
        <div class="content">
          <p class="editable">Sie ben&ouml;tigen Hilfe beim Aufbau und den fortlaufenden T&auml;tigkeiten der Finanzabteilung (Rechnungseingang, Rechnungserstellung, Mahnungswesen, vorbereitende Buchf&uuml;hrung, Bilanz sowie s&auml;mtliche vom Finanzamt geforderte Berichte und Abschl&uuml;sse)?<br />Gemeinsam mit unserem Netzwerk &uuml;bernehmen wir dies f&uuml;r Sie.</p>
          <a href="{{ "/rechnungswesen-und-buchhaltung" | prepend: site.baseurl }}" class="editable">Mehr erfahren...</a>
        </div><!-- / content -->
      </section><!-- / angebot -->
    </div><!-- / col -->
    <div class="col-xs-12">
      <section class="angebot">
        <a href="{{ "/sales-promotion-healthcare-services" | prepend: site.baseurl }}">
          <header class="content">
            <h3 class="editable">Vertriebsunterstützung</h3>
          </header>
        </a>
        <div class="content">
          <img src="/uploads/sp-pharmaservices-logo-fin1.png" class="pull-left" height="100">
          <p class="editable">
            Sie haben Herausforderungen im Vertrieb von Arzneimitteln oder Medizinprodukten? 
            <br />
            Wir haben mit ca. 100 freiberuflichen PTA’s/Pharmareferenten/Naturwissenschaftlern (§ 75 AMG) deutschlandweit die nötige Unterstützung für Sie.
            <br />
            Sie übergeben uns Ihre gewünschte Selektion und zahlen lediglich per Call für unsere Leistungen, ohne Personalverantwortung oder das Bereitstellen von Fahrzeugen.
          </p>
          <a href="{{ "/sales-promotion-healthcare-services" | prepend: site.baseurl }}" class="editable">Mehr erfahren...</a>
        </div><!-- / content -->
      </section><!-- / angebot -->
    </div><!-- / col -->
  </div><!-- / row -->
</div><!-- / container -->

<div id="ueber" class="container">
  <div class="lead space-before space-after editable"><p>Je nach Beratungsauftrag arbeiten wir f&uuml;r Ihr Unternehmen mit Steuer- und Marketingexperten, Rechtsanw&auml;lten sowie einem Versicherungsmakler zusammen.</p></div>

  <div class="row">
    <div class="col-xs-12 col-md-6 space-after">
      <img class="img-responsive margin-center portrait editable" src="/uploads/versions/portrait-min---x0-0-1110-1110-500-500x---.png" width="500" height="500" />
    </div><!-- / col -->
    <div class="col-xs-12 col-md-6 col-lg-5 space-after">
        <h1 class="editable">Cornelia Toussaint</h1>
        <div class="editable">
          <p>Die Gr&uuml;nderin von FiRe-Service und Consulting, Cornelia Toussaint, verf&uuml;gt &uuml;ber mehr als drei&szlig;ig Jahre Berufserfahrung im Bereich Finanzen/Rechnungswesen, &uuml;ber mehr als zwanzig Jahre im Bereich Personal und zw&ouml;lf Jahre im Vertrieb. Sie ist Betriebswirtin und konnte bereits erfolgreich Unternehmen sowie Vereine gr&uuml;nden, begleiten und beraten. Das daraus entstandene Netzwerk erm&ouml;glicht eine komplexe und stabile Beratung.</p>
        </div>
        </div><!-- / col -->
  </div><!-- row -->
</div><!-- / container -->

<div id="netzwerk">
  <div class="container">
    <h2 class="editable">Firmennetzwerk &amp; Kooperationspartner</h2>
    <div class="netzwerk-wrapper">
      {% for firma in site.data.netzwerk %}
        {% if firma.link == "" %}
          <section class="netzwerk text-center">
            <img src="{{firma.logo_path}}" />
            <span>{{firma.name}}</span>
          </section><!-- / netzwerk -->
        {% else %}
          <a href="{{firma.link}}" target="_blank" class="netzwerk text-center">
            <img src="{{firma.logo_path}}" />
            <span>{{firma.name}}</span>
          </a><!-- / netzwerk -->
        {% endif %}
      {% endfor %}
    </div><!-- / row -->
  </div><!-- / container -->
</div><!-- / netzwerk -->
