#angebote {
  margin-top: -100px;

  .angebot {
    background-color: $background-transparent;
    margin: 10px;
    box-shadow: $standard-shadow;
    .content {
      padding: 15px 20px;
    }
    header {
      border-bottom: 3px solid $color-primary;
      transition: all 0.4s;
    }
    header:hover {
      background-color: white;
    }
    a:hover {
      text-decoration: none;
    }
  }
}

#ueber {
  .portrait {
    box-shadow: $standard-shadow;
    border: 8px white solid;
  }
}

#netzwerk {
  background-color: $grey-color;
  padding-bottom: 30px;
  h1 {padding-bottom: 10px;}
  .netzwerk-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .netzwerk {
      width: 200px;
      margin: 0 30px 8px;
      flex-shrink: 0;
      font-size: 0.75em;
      color: #bbb;
      display: flex;
      flex-direction: column;
      justify-content: center;
      img {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}
