#angebote {
  margin-top: -100px;

  .angebot {
    background-color: $background-transparent;
    margin: 10px;
    box-shadow: $standard-shadow;
    .content {
      padding: 15px 20px;
    }
    header {
      border-bottom: 3px solid $color-primary;
      transition: all 0.4s;
    }
    header:hover {
      background-color: white;
    }
    a:hover {
      text-decoration: none;
    }
  }
}

#ueber {
  .portrait {
    box-shadow: $standard-shadow;
    border: 8px white solid;
  }
}

#netzwerk {
  background-color: $grey-color;
  padding-bottom: 30px;
}
