/* Global */
body {
  background-color: $background-color;
  color: black;
}
.website-wrapper {
  max-width: $max-width;
  margin: auto;
  box-shadow: 0 1px 10px #aaa;

  font-family: $base-font-family;
  background-color: $background-color;
}

/* Header & Navigation */
nav.navbar-fixed-top.navbar {
  max-width: $max-width;
  margin: auto;

  .nav-top {
    background-color: $background-color;
  }

  .nav-bottom {
    margin-top: -1px;
    width: 100%;
    height: 0;
    border-top: 30px solid $background-color;
    border-right: 1440px solid transparent;
  }
}
.navbar-toggle .icon-bar {
  background-color: black;
}

.logo {
  font-family: $logo-font-family;
  color: $brand-color;

  border-top: 18px solid;
  font-size: 1.5em;
}

.language-links {
  color: #aaa;
  
  a:link, a, a:visited {
    text-decoration: none;
    color: #aaa;
    transition: all .3s;
  }
  a:focus, a:hover {
    color: #888;
  }
}

.header-image {
  height: 600px;
  max-height: 100vh;
  background-size: cover;
  background-position: center;
}

/* Footer */
.cta-box {
  background-color: $brand-color-light;
  padding: 30px;
  color: white;
  .cta-call {
    font-weight: 900;
    font-size: 2em;
  }
  input, button, textarea {
    margin-top: 10px;
  }
}

/* Footer */
.website-wrapper>footer {
  border-top: 1px solid #ccc;
  padding: 4px;
  margin-top: 20px;
  a {
    margin: 4px 5px;
  }
}
