/* Global */
body {
  background-color: $background-color;
  color: black;
}
.website-wrapper {
  max-width: $max-width;
  margin: auto;
  box-shadow: 0 1px 10px #aaa;

  font-family: $base-font-family;
  background-color: $background-color;
}

/* Header & Navigation */
nav.navbar-fixed-top.navbar {
  max-width: $max-width;
  margin: auto;

  .nav-top {
    background-color: $background-color;
  }

  .nav-bottom {
    margin-top: -1px;
    width: 100%;
  	height: 0;
  	border-top: 30px solid $background-color;
  	border-right: 1440px solid transparent;
  }
}
.navbar-toggle .icon-bar {
  background-color: black;
}

.logo {
  font-family: $logo-font-family;
  color: $brand-color;

  border-top: 18px solid;
  font-size: 1.5em;
}

.header-image {
  background-image: url("../assets/images/business-2-raw.jpeg");
  height: 600px;
  max-height: 100vh;
  background-size: cover;
  background-position: center;
}

/* Footer */
.website-wrapper>footer {
  border-top: 1px solid #ccc;
  padding: 4px;
  margin-top: 10px;
}
