.page-content {
  margin-top: -100px;
  box-shadow: $standard-shadow;

  header {
    background-color: $background-transparent;

    border-bottom: 3px solid $color-primary;
  }
  section {
    background-color: white;
  }
  .main-content {
    h1 {
      font-size: 30px;
      font-family: inherit;
      font-weight: 500;
      color: black;
    }
  }
}
